:root {
  --transition-duration: 300ms;
  --maxWidth: 500px;
  --nav-height: 75px;
  --sidebar-width: 220px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  height: 100%;
}
h2 {
  margin-bottom: 20px;
}
h3 {
  margin: 20px 0;
  white-space: nowrap;
}
h4 {
  margin: 20px 0 10px;
}
h5,
.u-h5 {
  margin-top: 20px;
}
i {
  padding: 7px;
  cursor: pointer;
}
input.field,
textarea.field {
  padding: 12px 4px;
  width: 100%;
  margin: 30px 0 10px 0;
}
select {
  cursor: pointer;
}
ul {
  list-style-type: none;
}
#add-photo-form {
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--gray0);
}
#bottom-btn-group {
  display: flex;
  margin-left: auto;
  margin-top: 20px;
}
#columns-container {
  display: flex;
  flex-grow: 1;
  min-height: calc(100vh - var(--nav-height) - 60px);
}
#image-gallery img {
  width: inherit;
}
@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutSlideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
#editor {
  width: 100%;
  height: 100vh;
}
#suggestions-wrapper,
#suggest-auto-complete {
  background-color: var(--gray1);
  border-left: 3px solid var(--teal3);
  padding: 20px;
  margin-top: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 6px rgba(0, 255, 255, 0.08);
}
@keyframes fadeInSlideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#main-panel {
  padding: 0 20px;
  align-items: center;
  width: calc(100% - var(--sidebar-width));
  padding-left: 20px;
  /* border-left: 1px solid var(--purple2); */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
#main-panel.hidden {
  display: none;
}
#main-panel input.field,
#main-panel textarea.field {
  width: 100%;
  margin: 10px 0;
  border-bottom: 1px solid var(--gray3);
}
#main-panel textarea.field {
  min-height: 52px;
}
#related-recipes-header {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
#related-recipes-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}
#recipe-id {
  margin-top: 10px;
}
#single-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.bb-white {
  border-bottom: white;
}
.card {
  background-color: #fafafa;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  max-width: 960px;
}
.card.translucent {
  background-color: var(--card-bg-translucent);
  border: none;
  box-shadow: var(--card-shadow);
  color: var(--gray6);
  backdrop-filter: blur(6px);
  border-radius: 12px;
}
.container {
  width: 90%;
  max-width: var(--maxWidth);
  margin: auto;
}
.date-input-wrapper {
  position: relative;
}
.date-input-wrapper input {
  background-color: transparent;
  position: relative;
  z-index: 2;
}
/* .date-input-wrapper .circle {
  position: absolute;
  right: 2px;
  bottom: 24px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--purple4);
  z-index: 1;
} */
.danger-box {
  color: var(--red3);
  border: 1px solid var(--red3);
  padding: 5px;
}
.danger-box i {
  color: var(--red3);
}
.fa-trash {
  color: var(--red6);
  font-size: 1.5rem;
  cursor: pointer;
  /* margin-left: 10px; */
  border-radius: 6px;
}
.fa-trash:hover {
  color: var(--red3);
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.hidden {
  display: none !important;
}
.input-group input {
  width: 100%;
}
.u-align-start {
  align-items: flex-start;
}
.u-column-start {
  align-items: flex-start !important;
}
.u-m-0 {
  margin: 0;
}
.u-mb-20 {
  margin-bottom: 20px;
}
.u-ml-20 {
  margin-left: 20px;
}
.u-mr-20 {
  margin-right: 20px;
}
.u-mt-20 {
  margin-top: 20px;
}
.u-mt-40 {
  margin-top: 40px;
}
.smaller {
  font-size: 0.85rem;
}
.w-100 {
  width: 100%;
}
.w-fc {
  width: fit-content;
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* mobile */

@media (min-width: 768px) {
  #left-panel {
    border-image-slice: 1;
    border-right: 2px solid transparent;
    border-image: var(--border-image-vertical);
  }
  .container {
    max-width: 1028px;
  }
}
