:root {
  --transition-duration: 300ms;
  --maxWidth: 500px;
  --nav-height: 75px;
  --sidebar-width: 220px;
}
/* brighten input date picker icon */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 16px;
}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  height: 100%;
}
button {
  border-radius: var(--border-radius);
}
button:focus-visible {
  outline: none;
}
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h3 i {
  font-size: inherit;
}
h4 {
  font-size: 1.5rem;
}
h4 i {
  font-size: inherit;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
i {
  cursor: pointer;
}
input[type='date'] {
  text-align: left;
}
select {
  cursor: pointer;
}
ul {
  list-style-type: none;
}
#add-photo-form {
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--gray1);
}
#bottom-group {
  display: flex;
  margin-left: auto;
  margin-top: 20px;
}
#image-gallery img {
  width: inherit;
}
@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutSlideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
#editor {
  width: 100%;
  height: 100vh;
}
#suggestions-wrapper,
#suggest-auto-complete {
  background-color: var(--gray1);
  border-left: 3px solid var(--teal3);
  padding: 20px;
  margin-top: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 6px rgba(0, 255, 255, 0.08);
}
@keyframes fadeInSlideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#related-recipes-header {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
#related-recipes-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}
#recipe-id {
  margin-top: 10px;
}
#single-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start !important;
}
.all-panel-search {
  width: 90% !important;
  margin: 20px auto -20px !important;
}
.bb-white {
  border-bottom-color: white;
}
.b-none {
  border: none !important;
}
.card {
  background-color: #fafafa;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  max-width: 960px;
}
.card.translucent {
  background-color: var(--card-bg-translucent);
  border: none;
  box-shadow: var(--card-shadow);
  color: var(--gray6);
  backdrop-filter: blur(6px);
  border-radius: 12px;
}
.caret-wrapper {
  cursor: pointer;
}
.column-start {
  align-items: flex-start !important;
}
.columns-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.danger-box {
  color: var(--red3);
  border: 1px solid var(--red3);
  padding: 5px;
}
.danger-box i {
  color: var(--red3);
}
.fa-trash {
  color: var(--red6);
  cursor: pointer;
  /* margin-left: 10px; */
  border-radius: 6px;
}
.fa-trash:hover {
  color: var(--red3);
}
.flex {
  display: flex !important;
  justify-content: space-between;
  gap: 10px;
}
.flex-column {
  flex-direction: column !important;
}
.f-italic {
  font-style: italic !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.gap-20 {
  gap: 20px !important;
}
.hidden {
  display: none !important;
}
.invisible {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
.justify-between {
  justify-content: space-between !important;
}
.list-header {
  padding: 6px 4px;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 20px 0 5px;
}
.list-header:first-child {
  margin-top: 0;
}
.m-0 {
  margin: 0 !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.ml-auto {
  margin-left: auto !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.p-3 {
  padding: 3px !important;
}
.p-5-0 {
  padding: 5px 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.p-10 {
  padding: 10px !important;
}
.p-left-10 {
  padding-left: 10px !important;
}
.p-left-20 {
  padding-left: 20px !important;
}
.p-left-30 {
  padding-left: 30px !important;
}
.p-left-40 {
  padding-left: 40px !important;
}
.p-left-50 {
  padding-left: 50px !important;
}
.pos-absolute {
  position: absolute !important;
}
.pos-relative {
  position: relative !important;
}
.smaller {
  font-size: 0.85rem !important;
}
.w-100 {
  width: 100% !important;
}
.w-fc {
  width: fit-content !important;
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

/* desktop */

@media (min-width: 768px) {
  * {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  button,
  input,
  textarea,
  select {
    font-size: inherit;
    line-height: inherit;
  }
  .container,
  .columns-wrapper {
    max-width: 1028px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    white-space: nowrap;
  }
}
